<%= simple_form_for(@entry, :html => { :class => "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Appearance</h3>
    <div class="form-row"><label>Weight</label><%= f.input :appearance_weight, :collection => [ "Obese", "Over-weight", "Under-weight", "Emaciated", "Unremarkable"], :as => :check_boxes, :item_wrapper_class => 'inline' %></div>
    <div class="form-row hidden"><%= f.input :appearance_weight_notes, :item_wrapper_class => 'inline', :label => 'Notes' %></div>
    <div class="form-row"><%= f.input :appearance_hair, :collection => [ "Bizarre Style", "Unnatural color", "Unshaven", "Unremarkable"], :as => :check_boxes, :item_wrapper_class => 'inline', :label => 'Hair' %></div>
    <div class="form-row hidden"><%= f.input :appearance_hair_notes, :item_wrapper_class => 'inline', :label => 'Notes' %></div>
  </div>


  <!-- add_column :entries, :appearance_weight, :string
  add_column :entries, :appearance_hair, :string
  add_column :entries, :appearance_other, :string
  add_column :entries, :appearance_grooming, :string
  add_column :entries, :appearance_dress, :string
  add_column :entries, :behavior_walk, :string
  add_column :entries, :behavior_combativeness, :string
  add_column :entries, :behavior_repetition, :string
  add_column :entries, :behavior_overactivity, :string
  add_column :entries, :behavior_catatonia, :string
  add_column :entries, :speech_rate, :string
  add_column :entries, :speech_intelligibility, :string
  add_column :entries, :speech_volume, :string
  add_column :entries, :speech_quality, :string
  add_column :entries, :speech_quantity, :string
  add_column :entries, :attitude, :string
  add_column :entries, :affect_mood, :string
  add_column :entries, :affect_expression, :string
  add_column :entries, :affect_appropriateness, :string
  add_column :entries, :perception_hallucinations, :string
  add_column :entries, :perception_disassociation, :string
  add_column :entries, :perception_agnosia, :string -->
  
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
