<h1>All entries for <%= @client.identifier %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @client.entries.count > 0 %>
  <% @client.entries.each do |entry| %>
    <tr>
      <td><%= entry.id %></td>
      <td><%= link_to 'Show', client_entry_path(@client, entry) %></td>
      <td><%= link_to 'Edit', edit_client_entry_path(@client, entry) %></td>
      <td><%= link_to 'Destroy', client_entry_path(@client, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% else %>
  <tr>You have not yet added any MSE entries for <%= @client.identifier %>. <%= link_to 'Click here to add an entry', new_client_entry_path(@client, @entry) %></tr>
<% end %>
</table>


