<p id="notice"><%= notice %></p>


<%= render "shared/private-toggle" %>
<p>
  <b>First name:</b>
  <span class="private-data"><span><%= @client.first_name %></span></span>
</p>

<p>
  <b>Last name:</b>
  <span class="private-data"><span><%= @client.last_name %></span></span>
</p>

<p>
  <b>Identifier:</b>
  <%= @client.identifier %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @client.date_of_birth %>
</p>

<p>
  <b>Primary phone:</b>
  <span class="private-data"><span><%= @client.primary_phone %></span></span>
</p>

<p>
  <b>Notes:</b>
  <%= @client.notes %>
</p>


<%= link_to 'Edit Client Information', edit_client_path(@client) %>
